@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
body{
    margin: 30px;
    font-family: "Poppins";
    background: #d1dedd;
}

ul,li{
    padding: 0;
    list-style-type: none;
}

h1,h2,h3{
    color: #767f7e;
}
p{
    color: #828b8a;
}

article > img{
    width: 300px;
}

header{
    max-width: 1200pxx;
    margin: 40px auto;
    border-bottom:1px solid #bbc7c7 ;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;

    max-width:1200px;
    margin: 20px auto;
}

article.featured{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 60px;
    border-bottom: 2px solid #bbc7c7;
    padding: 40px;
    align-items: center;
}

article img,.article.featured img {
    width: 100%;
    max-width: 1200px;
    border: 4px solid #fff;
    border-radius: 8px;
}

article p,article h3{
    margin: 20px 10px ;
}

/* responsive */

@media screen and (max-width:980px) {
    article{
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 60px;
        align-items: center;

    }
}

@media screen and (max-width:780px) {
    article,.article.featured{
        display: block;
        margin: 0 20px;
    }
}
