@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
body{
    margin: 30px;
    font-family: "Poppins";
    background: #d1dedd;
}

ul,li{
    padding: 0;
    list-style-type: none;
}

h1,h2,h3{
    color: #767f7e;
}
p{
    color: #828b8a;
}

article > img{
    width: 300px;
}

header{
    max-width: 1200pxx;
    margin: 40px auto;
    border-bottom:1px solid #bbc7c7 ;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    max-width:1200px;
    margin: 20px auto;
}